h1 {
    text-align: center;
    vertical-align: middle;
    font-family:'Courier New', Courier, monospace;
    color: #ffffff;
    font-size: 50px;
    text-decoration: solid;
}

p {
    text-align: center;
    vertical-align: middle;
    font-family:'Courier New', Courier, monospace;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
}

body {
    background-image: url(/assets/background.jpg)
}

.navbar {
    background-color: #b1d5ffa8;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    overflow: hidden;
    width: 90%;
    height: 40px;
}

.navbar:hover {
    transform: scale(1.05);
}

.navbar a {
    color: #ffffff;
    text-align: center;
    padding: 8px 10px;
    font-size: 20px;
    text-decoration: none;
    vertical-align: baseline;
    border-radius: 10px;
    font-family:'Courier New', Courier, monospace
}

.navbar a:hover {
    background-color: #cee7ffb1;
    transform: scale(1.1);
}

.navbar p {
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    vertical-align: baseline;
    border-radius: 10px;
    padding-bottom: 40%;
    font-weight: bold;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.footer {
    margin-top: 90%;
    color: #6eadff;
    font-size: 15px;
    font-family:'Courier New', Courier, monospace;
    background-color: #FFFFFF;
    height: 10%;
    width: 100%;
}

.footer a {
    text-decoration: none;
    color: #6eadff;
    text-align: center;
    vertical-align: top;
}

.link-box {
    background-color: #89caffe4;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    border-color: aliceblue;
    border-width: 2px;
    font-size: 25px;
    margin-top: 5vh;
    position: relative;
    padding-top: 8px;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
    margin-left: 10vw;
    margin-right: 10vw;
    height: 20vh;
    width: 25vh;
}

.link-box a {
    color:white;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 4px;
    border-radius: 12px;
    z-index: 90;
    text-decoration: none;
    margin-top: 2%;
}

.link-box img {
    height: 15vh;
}

input.box { 
    background-repeat: no-repeat;  
    background-position: 0px 0px;
    height: 150px;
    width: 150px;
}

input.box p {
    text-align: center;
    vertical-align: middle;
    font-family:'Courier New', Courier, monospace;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
}

input.box:hover {
    filter: blur(5px);
    transform: scale(1.15);
}